{{> head}}
{{> nav}}
<div class='container'>
        <h1>{{title}}</h1>
        <div class="row">
            <p>Teacher: {{teacherid}} {{firstname}} {{lastname}} ({{username}}), {{department}} Department</p>
        </div>
        {{#classexists}}
        <div class="row">
            <h2>{{classname}}</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmClose">Close class</button>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                {{#students}}
                {{firstname}} {{lastname}}<br>
                {{/students}}
                <form method="post" action="/checkin">
                    <fieldset>
                        <legend>Check a student in</legend>
                        <div class="form-group">
                            <input type="number" min="0" max="99999" class="form-control" name="studentid" id="studentid" aria-describedby="studentid" placeholder="Enter studentid">
                        </div>
                        <button type="submit" class="btn btn-primary" value="Submit">Check in &raquo;</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    {{/classexists}}
    {{^classexists}}
        <button id="createclass" type="button" class="btn btn-primary" data-toggle="modal" data-target="#getClassName">Create a class</button>
    {{/classexists}}
</div>
<!-- Modal -->
<div class="modal fade" id="confirmClose" tabindex="-1" role="dialog" aria-labelledby="confirmCloseLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCloseLabel">Confirm close</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                This will end the current class, removing all students. You cannot re-open a class.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="closeclass" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="getClassName" tabindex="-1" role="dialog" aria-labelledby="getClassNameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getClassNameLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <form method="post" action="/createclass">
                    <div class="form-group">
                        <label for="class-name" class="form-control-label">Class name:</label>
                        <input type="text" class="form-control" name="class-name" id="class-name">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="submit-create-class" type="button" class="btn btn-primary" value="Submit" id="Submit">Create class</button>
                </form>
            </div>
            <!--
                <div class="modal-footer">
                </div>
-->

        </div>
    </div>
</div>
{{> foot}}
<script>
    $('#submit-create-class').on('click', function(event) {
        event.preventDefault();
        var newClassName = $('#class-name').val();
        window.location = "/createclass?newclassname=" + newClassName;
    });
    $('#closeclass').on('click', function(event) {
        event.preventDefault();

        window.location = "/closeclass";
    });

</script>
